<div class="row">
   <div class="col-md-4 col-md0offset-4">
     <div class ="well">
       <%=form_for @contact do |f| %>
       <div class="form-group">
         <%=f.label :name %>
         <%=f.tect_field :name, class: 'formcontrol' %>
       </div>
       <div class="form-group">
         <%=f.label :email%>
         <%+f.text_area :email class: 'form-control'%>
       </div>
       < div class="form-group">
         <%= f.label :comments %>
         <%= f.text_area :comments%>
       </div>
       <%= f.submit 'Submit', class: 'form-control' %>
       <% end %>
     </div>
  </div>
</div>
